.block {
    margin: auto;
    max-width: 735px;
    box-sizing: border-box;
}

.title {
    font-family: Arial, sans-serif;
    font-size: 29px;
    color: #676565;
    font-weight: normal;
    margin: 0 20px 3px 20px;
}

.request-form {
    font-family: Arial, sans-serif;
    background-color: #FEEED6;
    padding: 0 18px 12px 18px;
}

.request {
    font-weight: bold;
    color: #676565;
    font-size: 14px;
    line-height: 2;
    margin: 0;
    padding: 10px 0 3px 0;
}

.comment_area {
    height: 93px;
    resize: vertical;
}

.unit {
    width: 100%;
    max-width: 681px;
    font-size: 14px;
    border: none;
    padding: 9px;
}

.instruction {
    font-size: 14px;
    color: #6C6F81;
    margin: 0;
    padding: 5px 0;
}

input.unit::placeholder {
    color: #9FA8C0;
}

textarea.comment_area::placeholder {
    color: #9FA8C0;
}

.send_button {
    background-color: #378DB2;
    color: #FFF;
    border: none;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

.send_button:hover {
    background-color: #708090;
}

.paragraph_button {
    text-align: right;
    margin: 5px 0 0 0;
}

.request label {
    display: block;
}