body {
    font-family: Arial, sans-serif;
    color: #676573;
}

.blue-letters {
    color: #378DB2;
    font-weight: bold;
}

.course-information {
    background-color: #FEEED6;
    width: 90%;
    max-width:720px;
    margin: auto;
    padding: 5px 10px 0 10px;
}

.title {
    font-size: 27px;
    margin: 0 0 10px 0;
    font-weight: normal;
}

.cross {
    text-decoration: line-through;
}

.text-indent p {
    text-indent: 20px;
    line-height: 1.5;
    font-size: 15px;
    text-align: justify;
}

.course-information p {
    margin: 10px 0 10px 0;
}