.list-block {
    width: 100%;
    max-width: 750px;
    margin: auto;
    background-color: #FEEED6;
    border-radius: 1em;
    border: 1px solid #000;
    box-sizing: border-box;
}

.list-title::before,
.list-title::after {
    content: "  \2749 \2749 \2749  ";
    color: #378DB2;
}

.list-form {
    margin: 10px;
}

.list-form input {
    width: 85%;
    text-align: left;
}

.list-title {
    margin: 10px;
    text-align: center;
}

.list-form button {
    right: 0;
    top: 18px;
}

.buttons > button {
    width: 20px;
    padding: 0;
    text-align: center;
    height: 20px;
    font-size: 14px;
}

.delete-button {
    color: #F00;
    float: right;
}

.ok-button {
    color: #00D678;
    float: right;
}

.cancel-button {
    font-weight: bold;
    color: #964b00;
    float: right;
}

.edit-button {
    float: right;
}

.todo-list-block {
    margin: 10px;
    text-align: left;
    max-width: 730px;
    box-sizing: border-box;
}

.todo-list-block ul {
    padding: 0;
    margin: 0;
}

.todo-list-block li {
    list-style-type: none;
    border-bottom: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}

.todo-text {
    line-height: 25px;
    overflow: hidden;
    display: inline-block;
    width: 85%;
}

.buttons {
    line-height: 25px;
    display: inline-block;
    float: right;
}

.add-button {
    width: 45px;
}

.edit-text {
    width: 90%;
    padding: 0;
    border-color: #000;
    overflow: hidden;
}

.error-message,
.edit-error-message{
    color: #F00;
}

.red-border {
    border-color: #F00;
}