* {
    box-sizing: border-box;
}

.list-block {
    width: 100%;
    max-width: 750px;
    margin: auto;
    background-color: #FEEED6;
    border-radius: 1em;
    border: 1px solid #000;
}

.list-title {
    margin: 10px;
    text-align: center;
}

.list-title::before,
.list-title::after {
    content: "  \2749 \2749 \2749  ";
    color: #378DB2;
}

.list-form {
    margin: 10px;
}

.input-block {
    display: flex;
    margin-top: 5px;
}

.input-block input {
    flex: 1;
}

.input-block button {
    margin-left: 5px;
}

.todo-list-block {
    margin: 10px;
    text-align: left;
    max-width: 730px;
}

.todo-list-block ul {
    padding: 0;
    margin: 0;
}

.todo-list-block li {
    list-style-type: none;
    border-bottom: 1px solid #000;
}

.new-row-block {
    display: flex;
}

.todo-text {
    line-height: 25px;
    overflow: hidden;
    flex: 1;
}

.edit-block {
    display: flex;
}

.edit-block input {
    flex: 1;
}

.buttons {
    margin-left: 5px;
}

.buttons > button {
    width: 20px;
    padding: 0;
    text-align: center;
    height: 20px;
    font-size: 14px;
}

.delete-button {
    color: #F00;
}

.ok-button {
    color: #00D678;
}

.cancel-button {
    font-weight: bold;
    color: #964B00;
    margin-left: 4px;
}

.error-message,
.edit-error-message {
    color: #F00;
}

.red-border {
    border-color: #F00;
}
