.list-block {
    width: 70%;
    max-width: 750px;
    margin: auto;
    background-color: #FEEED6;
    border-radius: 1em;
    border: 1px solid #000;
}

.list-title::before, .list-title::after {
    content: "  \2749 \2749 \2749  ";
    color: #378DB2;
}

.list-form {
    margin: 10px;
    position: relative;
}

.list-form input {
    width: 90%;
    text-align: left;
}

.list-title {
    margin: 10px;
    text-align: center;
}

.list-form button {
    position: absolute;
    right: 0;
    top: 18px;
}

.button-span > button {
    width: 20px;
    padding: 0;
    text-align: center;
    height: 20px;
    font-size: 14px;
}

.delete-button {
    color: #FF0000;
}

.ok-button {
    color: #00D678;
}

.cancel-button {
    font-weight: bold;
    color: #964b00;
}

.list-div {
    margin: 10px;
    text-align: left;
    width: 100%;
    max-width: 730px;
}

.list-div ul {
    padding: 0;
}

.list-div li {
    list-style-type: none;
    border-bottom: 1px solid #000;
    margin: 5px 0 5px 0;
    height: 25px;
    text-indent: 5px;
}

.todo-text {
    line-height: 25px;
}

.button-span {
    float: right;
    line-height: 25px;
}

.add-button {
    width: 45px;
}

.edit-text{
    width: 90%;
    border: none;
    padding: 0;
}

.error-massage{
    color: #FF0000;
}

