{% extends 'layout.twig' %}

{% block body %}
    {% verbatim %}
        <div v-cloak id="app" class="container">
           <h1>Телефонная книга</h1>

            <form class="mb-3" @submit.prevent="createContact">
                <div class="row mb-2">
                    <div class="col-12 col-lg-4 mb-2">
                        <input v-model="name" type="text" class="form-control" id="input-name" placeholder="Имя контакта" :class="{ 'is-invalid': isNameTextInvalid }">
                        <div class="invalid-feedback">Имя обязательное поле!</div>
                    </div>
                    <div class="col-12 col-lg-4 mb-2">
                        <input v-model="surname" type="text" class="form-control" id="input-surname" placeholder="Фамилия контакта" :class="{ 'is-invalid': isSurnameTextInvalid }">
                        <div class="invalid-feedback">Фамилия обязательное поле!</div>
                    </div>
                    <div class="col-12 col-lg-4 mb-2">
                        <input v-model="phone" type="text" class="form-control" id="input-phone" placeholder="Телефонный номер" :class="{ 'is-invalid': isPhoneTextInvalid }">
                        <div class="invalid-feedback">Номер телефона обязательное поле!</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Создать</button>
            </form>

            <hr>

            <form class="mb-3" @submit.prevent="loadContacts">
            <h2>Поиск</h2>
                <div class="d-flex">
                    <input v-model="term" type="search" class="form-control me-2 search" placeholder="&#128269;">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-info">
                        <tr>
                            <th class="col-1 text-center" ><input type="checkbox" v-model="mainChecked" @click="isMainCheckboxChange"></th>
                            <th class="col-1 text-center">Номер</th>
                            <th class="col-3 text-center">Имя</th>
                            <th class="col-3 text-center" >Фамилия</th>
                            <th class="col-3 text-center">Телефон</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(c, index) in contacts" :key="c.id">
                            <td class="text-center"><input type="checkbox" v-model="c.checked" @click="isContactCheckboxChange"></td>
                            <td v-text="index + 1"></td>
                            <td v-text="c.name"></td>
                            <td v-text="c.surname"></td>
                            <td v-text="c.phone"></td>
                            <td class="text-center">
                                <button @click="showDeleteButtonConfirmDialog(c)" type="button" class="btn btn-danger" title="Удаление">&#9747;</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-danger" @click="showDeleteCheckboxConfirmDialog()">Удалить выбранные</button>
            </div>

            <div ref="deleteButtonConfirmDialog" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтверждение удаления</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы действительно хотите удалить контакт?</p>
                        </div>
                         <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" @click="deleteContact()" class="btn btn-primary" data-bs-dismiss="modal">ОК</button>
                        </div>
                    </div>
                </div>
            </div>
             <div ref="deleteCheckboxConfirmDialog" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтверждение удаления</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы действительно хотите удалить контакты?</p>
                        </div>
                         <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" @click="deletedChecked" class="btn btn-primary" data-bs-dismiss="modal">ОК</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endverbatim %}
{% endblock %}
